.form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;

    border-radius: 0.3rem;
    background-color: white;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);

    font-size: 0.8rem;
    padding: 1rem 1.5rem;
    min-width: fit-content;
    max-width: 450px;
}

.form i {
    margin-right: 0.6rem;
    font-size: 1rem;
}

.form span {
    margin: 0 0.5rem
}

.form input {
    width: 100%;
    outline: none;
    padding: 0.3rem;
}

.form select:hover {
    background-color: #f7f7f7;
}

.form select:focus {
    outline: none;
}

.form input:focus {
    border-bottom: 1.5px solid rgba(107, 178, 156, 0.7);
}



.title input {
    border: none;
    border-bottom: 1.5px solid rgba(34, 34, 34, 0.15);
    font-size: 1.3rem;
    font-weight: 500;
    width: 94%;
    padding-bottom: 0;
    margin-left: 1.5rem;

    transition: border-bottom 0.5s, transform 3s;
    transform-origin: center;
}


.datetime {
    display: flex;
    align-items: center;
    min-width: fit-content;
}

.datetime input {
    background-color: #f7f7f7;
    border: none;
    border-bottom: 1px solid rgba(247, 247, 247, 1);
    width: fit-content;
}

.datetime input:hover {
    border-bottom: 1px solid rgba(34, 34, 34, 0.5);
}

.datetime button {
    border: 1px solid rgba(34, 34, 34, 0.3);
    border-radius: 0.2rem;
    padding: 0.2rem 0.5rem;
    margin-left: 0.5rem;
}

.datePicker {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    min-width: fit-content;
}

.datePicker:hover {
    background-color: #f7f7f7;
}

.afterExpand:hover {
    background-color: transparent;
}

.datePickerInput {
    display: flex;
    align-items: center;
    min-width: fit-content;
}

.doNotRepeat {
    font-size: 0.7rem;
    border: none;
}

.timePicker {
    margin-left: 0.5rem;
    min-width: fit-content;

}

.addTimeBtn:hover {
    background-color: #f7f7f7;
}

.moreOptions {
    row-gap: 0.5rem;
}

.allDay {
    display: flex;
    gap: 0.5rem;
    margin-left: 1.5rem;
}

.allDay input {
    width: fit-content;
}

.recurrence {
    border: none;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}

.address {
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1.5px solid white;
}

.address input:hover {
    background-color: #f7f7f7;
}

.description {
    display: flex;
    align-items: center;
    border: none;
    border-bottom: 1.5px solid white;
}

.description input:hover {
    background-color: #f7f7f7;
}

.submitButton {
    align-self: end;
    color: white;
    background-color: rgba(107, 178, 156, 1);
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    width: fit-content;
}

.calendars select {
    border: none;
}
