.wrapper {
    display: flex;
    margin-bottom: 0.5rem;
}

.wrapper img {
    height: 1rem;
    width: 1rem;
    object-fit: cover;
}

.image {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.organiser {
    font-size: 12px;
    color: #5F6368;

}

.boldText {
    font-weight: 500;
}
