.wrapper {
    display: flex;
    align-items: center;
}

.wrapper img {
    width: 2rem
}

.logo {
    margin-right: 5rem;
}

.largeText {
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.button i {
    border: none;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 50%;
    padding: 0.5rem 0.65rem;
}

.button i:hover {
    background-color: #EDEDED;
}

.date {
    margin-left: 1rem;
}
