.wrapper {
    border-radius: 5px;
    padding-left: 0.5rem;
}

.wrapper:hover {
    background-color: rgba(107, 178, 156, 0.15);
    cursor: pointer;

}

.clicked {
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
}

.title {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2rem 0;
}

.dot {
    font-size: 0.5rem;
    margin-right: 0.2rem;
}
