* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: #3c4043;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
