.container {
    height: 80vh;
    width: 100vw;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    position: absolute;
    text-align: center;
}

.link {
    color: #3c4043;

}

.container img {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}
