.wrapper select {
    background-color: #f7f7f7;
    width: fit-content;
    max-width: 90%;

    text-overflow: ellipsis;
    font-size: 14px;

    border: none;
    border-radius: 5px;

    margin-top: 3rem;
    margin-bottom: 2rem;
}


.guests {
    font-weight: 600;
    color: rgba(107, 178, 156, 1);
    margin-bottom: 1rem;
}

.placeholder {
    margin-bottom: 7rem;
}

.wrapper input {
    width: 20rem;
    outline: none;
    border: none;
    padding: 0.5rem 0.3rem;
    background-color: #f7f7f7;
    border-bottom: 2px solid white;
}

.wrapper input:focus {
    border-bottom: 2px solid rgba(107, 178, 156, 0.7);
}
