.navbarWrapper {
    width: 100%;
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
    height: 8vh;
    min-height: 52px;
}

nav {
    height: 8vh;
    min-height: 52px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    max-width: 98%;
}

.signInBtn button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

.signInBtn button:hover {
    background-color: #f7f7f7;
}

.userIcon i {
    font-size: 1.5rem;
    margin: 0 0.5rem;

}

.userIcon i:hover {
    color: #6BB29C;
}

.rightNavbar {
    display: flex;
    align-items: center;
}

.socialLink i {
    font-size: 1.5rem;
    margin: 0 0.5rem;
}

.socialLink i:hover {
    color: #6BB29C;
}

.socialLink img {
    height: 1.5rem;
    margin: 0 0.5rem;
}

.socialLink img:hover {
    filter: brightness(0) invert(1);
}
