.navbarWrapper {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem;
    max-width: 98%;
}

.logoText {
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 0.5rem;
}

.leftNavbar {
    display: flex;
    align-items: center;
}

.leftNavbar img {
    width: 2rem
}

.signInBtn button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
}

.signInBtn button:hover {
    background-color: #f7f7f7;
}

.userIcon i {
    font-size: 1.5rem;

}

.userIcon i:hover {
    color: #6BB29C;
}
