.wrapper {
    position: absolute;
    right: 1rem;
    top: 2.5rem;

    display: flex;
    flex-direction: column;

    width: 20rem;
    margin-top: 10px;

    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0px 0px 0.5rem rgba(0, 0, 0, 0.3);
}

.profileImage {
    margin: 0 auto;
    padding: 0.8rem;
}

.profileImage img {
    height: 3rem;
    width: 3rem;
    object-fit: cover;
}

.userInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: none;
    background-color: transparent;
    margin-bottom: 0.5rem;
}

.userName {
    font-size: 0.9rem;
    font-weight: 600;
}

.userEmail {
    font-size: 0.8rem;
}


.signOut {
    display: flex;
    justify-content: center;
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    padding: 1rem;
}


.signOutBtn {
    border: 0.1rem solid rgba(0, 0, 0, 0.1);
    border-radius: 0.2rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.signOutBtn:hover {
    background-color: #f7f7f7;
}
